<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Unslider &mdash; the super-tiny jQuery slider</title>
		<link rel="stylesheet" href="style.css">
		<meta name="viewport" content="width=device-width">
		<script src="//use.typekit.net/vgf3zbf.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>
	</head>
	<body>
		<img id="logo" src="img/logo.png" alt="Unslider logo" width="34" height="27">
		<div class="banner">
			<ul>
				<li style="background-image: url('img/sunset.jpg');">
					<h1>The jQuery slider that just slides.</h1>
					<p>No fancy effects or unnecessary markup, and it’s less than 3kb.</p>
					<a class="btn" href="#download">Download</a>
				</li>
				<li style="background-image: url('img/wood.jpg');">
					<h1>Fluid, flexible, fantastically minimal.</h1>
					<p>Use any HTML in your slides, extend with CSS. You have full control.</p>
					<a class="btn" href="#download">Download</a>
				</li>
				<li style="background-image: url('img/subway.jpg');">
					<h1>Open-source.</h1>
					<p>Everything to do with Unslider is hosted on GitHub.</p>
					<a class="btn" href="//github.com/idiot/unslider">Contribute</a>
				</li>
				<li style="background-image: url('img/shop.jpg');">
					<h1>Uh, that’s about it.</h1>
					<p>I just wanted to show you another slide.</p>
					<a class="btn" href="#download">Download</a>
				</li>
			</ul>
		</div>





	</body>
</html>
